html {
    font-family: 'Courier New', Courier, monospace;
    width: 100vw;
}
body {
    width: 100%;
    padding: 0;
    margin:0;
    background-color: rgb(255, 255, 255);
    position: absolute;
}
#section1 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(4, 4, 56);
    color:white;
    text-align: center;
    width: 100%;
    
}
p{
    margin-left: 5vw;
    width: auto;
    height: auto;
}
.button {
    margin-right:7rem;
    padding: 0;
    display: flex;
    align-items: center;
}
button {
    width: 6rem;
    height: 3rem;
    margin-right: 0.5rem;
    background-color: yellow;
    justify-content: center;
    text-align: center;
    

}
#btn{
    margin-right: 0.5rem;
    border-right: solid white 0.1rem;
}
.headerimg{
    width: auto;
    height: auto;
    max-width: 20vw;
    margin-left: 5vw;
    margin-top: 1vw; 
}
#header2{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;

    list-style: none;
    margin-right: 5rem;

    
}
#main1{
    display: block;
    background-image: url("./assets/homebg.jpg");
    width: auto;
    height: auto;
    min-height: 50rem;
    background-size: cover;
    
}
.content{
    color: white;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: lighter;
}
.logoimg{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: center;
    margin-left: auto;
    margin-right: auto;
    /* justify-content: center; */
    /* text-align: center; */
    margin-top: 3rem;
    width : 50%;
    height : auto;
    max-width: 3rem;
    max-height: 3rem;
    }
    #submit{
        width: 6rem;
        height: 3rem;
        margin-right: 0.01px;
        margin-left: 00.01px;
        background-color: rgb(224, 228, 28);
        justify-content: center;
        text-align: center;
        color: white;
        border: none;
        
    }
    #search{
        width: 30rem;
        height: 3rem;
        margin-right: 0.01px;
        margin-left: 00.01px;
        justify-content: center;
        text-align: center;
        
    }
    #domainname{
        width: 6rem;
        height: 3rem;
        margin-left: 0.001px;
        margin-right: 0.001px;
        background-color: yellow;
        justify-content: center;
        text-align: center;
        
    }
 .searchbox{
    margin-top: 3rem;
    margin-right: 0rem;
 }   


li{
    margin: 0.5rem;
}

#heart {
  color: red;
}

#bottom-line {
  display: block;
  margin-right: 30vw;
}

@media screen and (max-width: 680px) {
    ul{
      display: none;
    }
  }
  #main2{
    display: flex;
  }
  .webhosting{
    padding-top: 5rem;
    background-color: navy;
    height: 30rem;
    width: 50%;
    color: white;
    justify-content: center;
    text-align: center;
  }
  #more{
    height: 3rem;
    width: 8rem;
    background-color: navy;
    border-color: white;
    color: white;
    font-size: 1.5rem;
  }
  #domainnameservices{
    padding-top: 1rem;
    background-color:rgba(230, 226, 47, 0.822);
    height: 34rem;
    width: 50%;
    color: white;
    justify-content: center;
    text-align: center;

  }
  .com{
    font-size: 7rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  #more1{
    height: 3rem;
    width: 8rem;
    background-color: rgba(230, 226, 47, 0.822);
    border-color: white;
    color: white;
    font-size: 1.5rem;

  }
  #main3{
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/featurebg.jpg" );
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(211, 201, 201);
  }
  .best{
    margin-right: 5rem;
  }
  .our{
    margin-top: 8rem;
  }
  #mainimg{
    display: flex;
   justify-content: space-around;
  }
  .img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    margin-bottom: 5rem;
  }
  .yellow{
    color: yellow;
  }
  #img1{
    padding-bottom: 3rem;
    border-bottom: solid black ;
  }
  #main4{
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 7rem;
  }
  .client{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    
  }
  .Ourclient {
    margin-left: 5rem;
  }
  #client {
    width: 32vw;
    text-align: left;
  }

  .a{
    padding-right: 3rem;
  }
#anna{
    display: flex;
    margin-top: 4rem;
}
.an{
    position: relative;
    background-color: rgb(211, 205, 205);
    border-radius: 25px;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem
}
  .b{
    position: absolute;
    right: 0;
    border-radius: 100%;
  }
  #footer1{
    display: flex;
    justify-content: space-around;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: navy;
    color: white;
  }
  .plan{
    display: flex;
    color: white;
    height: 4rem;
    width: 7rem;
    margin-top: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
  }
  #footer2{
  display: flex;
    flex-direction: column;
    padding-top: 1rem;
    background-image: url("./assets/mapbg.png" );
    background-repeat: no-repeat;
    background-color: black;
   padding-left: 3rem;
   padding-right: 3rem;
   color: white;
   align-items: flex-end;
  
  }

  .nav, .nav-ul{
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  .nav{
    width: 14.5vw;
    margin-left:80vw ;
  }

  .nav1 {
    margin-right: 4.955vw;
    font-weight: bolder;
  }
  #socials {
    margin-right: 6vw;
    color: gold;
  }
  #socials > i { 
    padding: 0.4rem;
  }
  .nav-ul > li {
    border-bottom: solid white 0.1rem;
  }
  